@{
    ViewBag.Title = "MoaTL";
    Layout = "_HomeLayout.cshtml";
}

<div class="center-block">
    <h2>MoaTL</h2>
</div>
<section>
    <div class="row">
        <div class="col-md-4">
            <h2>Wut</h2>
            <p>
                There has not been a good way to acquire and spent party gold in the game besides lots of pencil and eraser usage. That changes now.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Shopping made easy</h2>
            <p>The Shoppe allows your character or party to buy and sell items and have the costs handled by the site. The spelling harkens back to Garth's Equipment Shoppe in The Bard's Tale. It's not a typo.</p>
        </div>
        <div class="col-md-4">
            <h2>More to come</h2>
            <p>MoaTL will cover all aspects of finance, from the DM awarding treasure to a Wizard spending coin to learn a new spell. Stay tuned! Or don't. This is placeholder anyhow.</p>
        </div>
    </div>
</section>